extends ../node_modules/jade-bootstrap/_bootstrap.pug        
block body
    title="lost&found"
    style
        include style2.css
    div.foundheading
       h1 I Found Something!
    div.itemdescription
       p.item Item Description
    div.yourinfo
       p Your Info    
