<<<<<<< HEAD
=======
extends ../node_modules/jade-bootstrap/_bootstrap.pug
block body
    style
        include style.css
    h1 Put your own body content here
>>>>>>> e900f566af2f0680337053d6a76829ed38f05d43
