<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/found-form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="Found_Form">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">I Found Something</h1>
                <%-include('./partials/messages')%>
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="Name">Item Name</label>
                        <input type="text" id="email" name="item-name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Type">Item Type</label>
                        <input type="text" id="item-type" name="item-type" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Item Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <br>
                        <button class="btn">+ Add images</button>
                    </div>
                    <div class="form-group">
                        <label for="Description">Where I Found The Item?!</label>
                        <input type="text" id="item-location" name="item-location" class="form-control" />
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</body>