doctype html
html
   head
     style
       include style.css
        
   title = "Lost and Found"
   body
         div.maincontainer
             h1 Lost and Found
             div.leftcontainer 
               p I Found Something
             div.rightcontainer
               p I Lost Something
                    