
<head>
    <link rel="stylesheet" href="/css/found-form.css">
    <link href='https://fonts.googleapis.com/css?family=Angkor' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="maincontainer">
      <h1 class="heading">
        I Lost Something!
    </h1>
        <div class="left_container">
            <div class='itemdescription'>
                <p class='item'>Item Description</p>
        
                    <div class="item_name">
                      <label for="item_name1">Item Name</label>
                      <input type="text" class="form-control" id="item_name">
                    </div>
                    <div class="item_type">
                        <label for="item_type1">Item Type</label>
                        <input type="text" class="form-control" id="item_type">
                      </div>
                      <div class="about_item">
                        <label for="About_item1">About Item</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="found_item">
                        <label for="found_item1">Where Did You Lose The Item</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
            </div>


        </div>
        <div class="right_container">
            <div class="yourinfo">
                <p>Your Info </p>
                <div class="person_name">
                    <label for="person_name1">Name</label>
                    <input type="text" class="form-control" id="item_name">
                  </div>
                  <div class="contact_no">
                      <label for="item_type1">Contact No.</label>
                      <input type="text" class="form-control" id="item_type">
                    </div>
                    <div class="email_id">
                      <label for="email_id">Email ID</label>
                      <input type="email" class="form-control" id="item_name" placeholder="name@example.com">
                    </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg">SUBMIT!</button>

    </div>
    
</body>
</html>