<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/single-found.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<%-include('./partials/messages')%>

<body class="Lost_Form">
  <nav class="navbar navbar-dark bg-dark">
    <a class=" navbar-brand">Lost and Found</a>
    <form class="form-inline">


      <a href="/" class="btn btn-outline-info my-2 my-sm-0" type="submit">Home</a>
      <a href="/found-form" class="btn btn-outline-info my-2 my-sm-0" type="submit">Found Form</a>
      <a href="/register" class="btn btn-outline-info my-2 my-sm-0" type="submit">Contact Us</a>

    </form>
  </nav>
  <br>
  <h1 class="heading"> Air Pods Pro</h1>
  <br>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="item-img">
        <img class="item_img1" src="/images/airpods.png">
      </div>
      <div class="item_des">
        <p>We refined the details of comfort, creating a new class of in-ear headphones with a customisable fit that
          forms an exceptional seal for Active Noise Cancellation.
          You’ll feel your music, not your headphones
          Large Medium Small
          Choose from three sizes of soft, flexible silicone tips that click into place. 
          Find the best fit — and get the
          best sound — by using the Ear Tip Fit Test.These internally tapered tips conform to your ear shape, keeping AirPods Pro secure.
          And with vents helping equalise pressure, you feel like there’s </p>
      </div>
      <div class="something">
        <h1 class="found_info">These were found by</h1>
        <p class="name_info">Moosa Khan</p>
        <p class="email_info">Moosak@xyz.com</p>
        <p class="number_info">9967347799</p>
        <p class="location_info">Lokhandwala,Andheri(w)</p>
      </div>
      <button type="button" class="claim_btn">CLAIM!</button>
      <div class="empty"></div>
      <div class="ending">
        <p class="ending_text">Copyright © 2020, Lost & Found.</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  </div>

</body>