<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/single-lost.css">
    <link rel="stylesheet" href="/css/single-lost.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap" rel="stylesheet">

    <title>Individual Lost Item Page</title>
</head>

<body>
   
        <div class="container-fluid">

            <nav class="navbar navbar-dark bg-dark"">
            <a class=" navbar-brand">Lost and Found</a>
                <form class="form-inline">


                    <a href="/" class="btn btn-outline-info my-2 my-sm-0" >Home</a>
                    <a href="/login" class="btn btn-outline-info my-2 my-sm-0" >Log out</a>
                </form>
            </nav>
            <br>

            <h1>Lost Item</h1>
            <br>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/images/airpods.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Airpods Pro</h5>
                            <p class="card-text">White Apple Airpods</p>
                            <!-- <p class="card-text"><small class="text-muted">Last updated 29 mins ago</small></p> -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-muted">Mohammed Hamdan</li>
                                <li class="list-group-item text-muted">+918879093154</li>
                                <li class="list-group-item text-muted">hamdan@airpods.com</li>
                              </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
</body>

</html>