body {
   background-color:lightblue;
}
div.maincontainer {
    width: 1800px;
    height: 1000px;
    background-color:gainsboro;
    position: absolute;
    text-align: center;
    }
div.leftcontainer {
    width: 350px;
    height: 350px;
    left: 250px;
    top: 200px;
    background-color: ghostwhite;
    position: absolute;
    }
div.rightcontainer {
    width: 350px;
    height: 350px;
    right: 250px;
    top: 200px;
    background-color: ghostwhite;
    position: absolute;
}
a {
    top:225px;
    position: relative;
}

button {
    background-color: lightgray;
    border: 1px;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    top: 20px;
}

<<<<<<< HEAD
h1 {
    text-align: center;
    position: relative;
    left: 750px;
    color: darkgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.bottomcontainer {
    width: 200px;
    height: 200px;
    background-color:ghostwhite;
    position: absolute;
    text-align: center;
    left: 800px;
    top: 600px;
    }
    
h2 {
    position: relative;
    top: 50px;
    color: darkgray;
    
   }

=======
>>>>>>> e1f81ed45e0c7ae8ee1965e9a244bc87f6b5994b
