body {
    background-color:lightblue;
 }
div.foundheading{
    width: 1800px;
    height: 1000px;
    background-color:gainsboro;
    position: absolute;
    text-align: center;

}

div.itemdescription{
    width: 450px;
    height: 450px;
    right: 900px;
    top:100px;
    background-color: ghostwhite;
    position: absolute;
    
}
 
p.item{
    top:0px;
    right:40%;
    position:absolute;
}

div.yourinfo{
    width: 450px;
    height: 450px;
    left: 1100px;
    top:100px;
    background-color: ghostwhite;
    position: absolute;
}

.alert{
   
}