.Lost_Form {
    background: linear-gradient(to bottom, #ffffff 25%, #33cccc 75%);
}
.btn {
    background-color: lightskyblue;
    border: none;
    color:lightskyblue;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #cd7ef5;
  }
  textarea.form-control {
    resize: none;
 }
