body {
    background: linear-gradient(to bottom, #0099cc 17%, #ffff99 100%);
}




.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: 'IM Fell French Canon SC', serif; 
    margin-left: 380px;
  }

.btn {
  margin-right: 5px;
}

.heading{
text-align: center;
font-size: 2.1rem;
font-family: 'Abel', sans-serif;
}


.badge-secondary {
  color: #fff;
  background-color: black;
}

.subheading{
    text-shadow: 2px 2px 5px lightgrey;
    font-family: 'Vollkorn', serif;
}
.grid-container {
    display: grid;
    height: 800px;
    /* align-content: center; */
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: lightgrey;
    padding: 20px;
    justify-content:space-around;
    background: rgb(2,0,36);
background: transparent;
    
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    height: 350px;
    width: 350px;

  }

  b {
    color: black;

    font-family: 'Vollkorn', serif;

  }

  p {
    color: black;
    font-family: 'Abel', sans-serif;
  }

  .container {
    color: black;
  }
  


  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }

  .pagebuttons {
    margin-left: 48%;
  }