body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,116,184,1) 0%);
}

.sub_btn {
  color: black;
  background-color: #ffff99;
  border: 1px solid #ffff99;
  margin-left: 40%;
}

.sub_btn:hover {
  background-color: #ffff66;
}