body {
    background-image: url('../images/background.png') left bottom;         
    background-color:lightblue;
}
.default1{
    color: #333;
    background-color: red;
    border-color: #ccc;
} 
.default2  {
    color: #333;
    background-color: blue;
    border-color: #ccc;
} */
div.maincontainer {
    width: 1800px;
    height: 1000px;
    position: relative;
    text-align: center;
    }
div.leftcontainer {
    width: 350px;
    height: 350px;
    left: 250px;
    top: 200px;
    background-color: ghostwhite;
    position: absolute;
    }
div.rightcontainer {
    width: 350px;
    height: 350px;
    right: 250px;
    top: 200px;
    background-color: ghostwhite;
    position: absolute;
}
a {
    top:225px;
    position: relative;
}

button {
    background-color: lightgray;
    border: 1px;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    top: 20px;
}

